<main class="px-3">
  <h1>
    Hello, I'm
    <span placement="end"
    ngbPopover="@chocolateCakeShake"
    class="text-primary">Abdullah!</span> 🍫🍰🤝🏼
  </h1>
  <p class="lead">
    Turning <span class='h3 mx-1'>☕</span>  into <span class="h3">&lt;Angular/&gt;</span>, one component at a time. <span class='h3 mx-1'>👨🏻‍💻</span>
  </p>

  <div class='d-flex gap-3 justify-content-center flex-column flex-sm-row'>
    <a class="btn btn-lg btn-outline-primary" href="mailto:abdullah6566@gmail.com">
      Send Email
    </a>
    <a href="assets/Abdullah CV.pdf" download="Abdullah's Resume.pdf"
    class="btn btn-lg btn-primary">
      Download Resume
    </a>
  </div>
</main>
