<main class="px-3">
  <h1>
    Hello, I'm
    <span placement="end"
    ngbPopover="@chocolateCakeShake"
    class="text-primary">Abdullah!</span> 🍫🍰🤝🏼
  </h1>
  <p class="lead">
    Turning <span class='h3 mx-1'>☕</span>  into code, one component at a time. <span class='h3 mx-1'>👨🏻‍💻</span>
  </p>

  <div class='d-flex gap-3 justify-content-center flex-column flex-sm-row'>
    <a href='https://docs.google.com/document/d/1z8d4GbV9itUgHkB1OkqAf0Uit8TBk5jVXVQQYUpZfEg/edit?usp=sharing'
      target='_blank'
    class="btn btn-lg btn-primary">
      See Resume
    </a>
    <a class='btn btn-lg btn-outline-primary'
      aria-label="Chat on WhatsApp" href="https://wa.me/923015219996">
      Chat on WhatsApp
    </a>
  </div>
</main>
