<header class="mb-auto">
  <ul class="nav nav-pills align-items-center justify-content-center">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/projects"
        >Projects</a
      >
    </li>

    <div ngbDropdown class="d-inline-block mx-2">
      <button
        type="button"
        class="btn btn-sm btn-light text-primary"
        id="dark-mode-dropdown"
        ngbDropdownToggle>
        <i class="bi bi-moon-stars"></i>
      </button>
      <div ngbDropdownMenu aria-labelledby="dark-mode-dropdown">
        @for (mode of modes; track mode.text) {
          <button ngbDropdownItem (click)="setMode(mode.text)">
            <i [class]="mode.icon"></i>
            {{ mode.text }}
          </button>
        }
      </div>
    </div>
  </ul>
</header>
