<div class="container mt-3">
  <div class="row g-3">
    @for (project of projects; track $index) {
      <div class="col-md-6">
        <div class="card">
          <img src="https://via.placeholder.com/300" class="card-img-top" alt="Project 1">
          <div class="card-body">
            <h5 class="card-title">{{project.title}}</h5>
            <p class="card-text">
              {{project.description}}
            </p>
            <a [href]="project.link" target="_blank" class="btn btn-primary">
              Check it out
            </a>
          </div>
        </div>
      </div>
    }
  </div>
</div>
