$primary: #b52e31;
$secondary: #6b3e26;

$btn-border-radius: 0;
$btn-border-radius-lg: 0.2em;
$btn-border-radius-sm: 0;

// Bootstrap overrides
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
);


@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons";


